<!DOCTYPE html>
<html>
  <% if user_signed_in? -%>
    <li>Hello <%= link_to current_user.full_name %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
  <% else -%>
    <li><%= link_to "Log In", new_user_session_path %></li>
    <li><%= link_to "Register", new_user_registration_path %></li>
  <% end -%>
<head>
  	
  <title>Gasoline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

	<%= yield :head %>

</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

	<%= yield :scripts %>

</body>
</html>
